.product .download-btn {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #e24a4a;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.product .download-btn:hover {
  background-color: #b83535;
}
